body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        color: #34495e;
    }
    
    h1 {
        color: #2c3e50;
        text-align: center;
        font-size: 24px;
    }
    
    .filtro, .formulario, .total-contatos {
        background-color: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border: 1px solid #190964;
    }
    
    input[type="text"], input[type="email"], button {
        padding: 10px;
        margin-right: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    
    button {
        background-color: #0a671c;
        color: white;
        cursor: pointer;
        border: none;
    }
    
    button:hover {
        background-color: #072b43;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    
    th, td {
        padding: 15px;
        border: 1px solid #10a529;
        text-align: left;
        font-size: 16px;
    }
    
    th {
        background-color: #06333e;
        color: white;
    }
    